<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= article.price %>
  </p>

  <p>
    <strong>Affiliate link:</strong>
    <%= article.affiliate_link %>
  </p>

  <p>
    <strong>Article category:</strong>
    <%= article.article_category %>
  </p>

  <p>
    <strong>Date added:</strong>
    <%= article.date_added %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= article.site_id %>
  </p>

</div>
